.rainbow-bg h1 {
    color: var(--white);
    margin: 5rem 0;
}

.main {
    margin-bottom: 30vh;
    gap: 4rem;
}

@media (max-width: 600px) {
    .main {
        margin-bottom: 2rem;
    }
}

.contact-header, .contact-info, .form-header {
    margin-bottom: 2rem;
    text-align: center;
}

.form-section input,.form-section textarea {
    outline: 1px solid red;
    border-radius: 2pt;
    width: 30ch;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.form-section textarea {
    height: 4lh;
    resize: none;
}

.form-section label {
    width: 10ch;
    text-align: end;
}

.form-section div label {
    align-self: flex-start;
}

.submit, .reset {
    outline: none !important;
    width: 13ch !important;
    font-weight: bold;
    height: 2rem;
}

.submit {
    background-color: var(--success);
    margin-left: 7.4rem !important;
    border: 1px solid #5d8e76;
}

.reset {
    background-color: var(--invalid);
    border: 1px solid #a4443c;
}

.submit:hover, .reset:hover {
    opacity: 90%;
}